body {
    background-color: #2a2e35;
    color:#edf0f1;
}

body a {
    color: #0088a9;
    cursor: pointer;
}

.content {
    padding: 2rem;
}

.listing {
    margin-bottom: 4rem;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.tag a {
    text-decoration: none;
    color: #6e64c3;
}