<!DOCTYPE html>
    <html lang="en">
    <head>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="reset.css">
    	<link rel="stylesheet" href="stijl.css">
    	<script src="script.js" ></script>
		<style>
			{{ style }}
			{{ navStyle }}
		</style>
    	<title>{{ title }}</title>
    </head>
    <body>
		{{ nav }}
		<div class="content">
			<div class="container">
				<img src="../images/logo.svg" alt="Static Quo">
				<h1>STATIC QUO</h1>
				<h2>A Simple Static Site Builder</h2>
				<div class="nav">
					<ul>
						<li><a href="../pages/pages.html">Pages</a></li>
						<li><a href="../posts/posts.html">Posts</a></li>
					</ul>
				</div>
			</div>
			<div class="about-section">
				<h3>About Static Quo</h3>
				<p>Static Quo is a static site generator that allows you to quickly and easily create simple, fast, and beautiful websites. With Static Quo, you don't need to worry about complicated backend systems or databases - simply create your content in Markdown or HTML, upload it to the console, and let Static Quo do the rest. Whether you're creating a personal blog, a portfolio site, or a small business website, Static Quo has everything you need to get started.</p>
			</div>
		</div>
    </body>
    </html>