<header>
	<img class="logo" src="../images/logo.svg">
	<nav>
		<ul>
			{% for link in links %}
				<li class="nav-content">
					<div class="dropdown">
						<a href="../{{ link.folder }}/{{ link.name }}.html">{{ link.name }}</a>
						<div class="dropdown-content">
							<ul>
								{% for i in link.content %}
									<li>
										<a href="../{{ link.folder }}/{{ link.content[i].fileName }}.html">{{ link.content[i].title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<a class="home" href="../_site/home.html"><button>Home</button></a>
</header>